/* ------------------------------------------------------------------------- */
/*          CSS STYLE FOR THE HEADER - NAVBAR, ICON, TITLE ETC..             */
/* ------------------------------------------------------------------------- */

.navbar {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.5vh;
    background-color: black;
    color: white;
    display: flex;
    transition: transform 1s ease;
    z-index: 100;
}

/* ------------------------------------------------------------------------- */
/*                          LOGO aka EIRSPACEEEE                             */
/* ------------------------------------------------------------------------- */

.logo-navbar {
    padding: 15px 0;
    margin-right: -160px; /* The picture is too wide. */
    margin-left: 12vw;
    margin-top: 2vh;
}

.logo-navbar a {
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.logo-navbar img {
    width: 60%;
    height: 60%;
}

/* ------------------------------------------------------------------------- */
/*                          NAVLINKS AND OTHER STUFF                         */
/* ------------------------------------------------------------------------- */

.nav-links {
    font-size: 20px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 2vh;

}

.nav-links li {
    margin: 0 20px;
    padding: 20px 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.1s ease;
}

.nav-links a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* ------------------------------------------------------------------------- */
/*                              DROPDOWN MENU                                */
/* ------------------------------------------------------------------------- */

.dropdown-menu {
    margin-left: auto;
    margin-right: 5vw;
}

.menu-toggle {
    font-size: 3em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1.5vh;
}

/* ------------------------------------------------------------------------- */
/*                          DROP DOWN MENU ANIMATION                         */
/* ------------------------------------------------------------------------- */

.dropdown-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 2em;
    list-style: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-links.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transform: translateX(-10vw);
}

.dropdown-links li a {
    color: white;
    font-size: 1.5em;
    padding: 0.8em 0;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease;
    animation: dropdownItem 0.8s ease forwards;
}

.dropdown-links li a:hover {
    color: #00FF41;
}

@keyframes dropdownItem {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-links.closing li {
    animation: dropdownItemClose 0.5s ease forwards;
}

@keyframes dropdownItemClose {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* ------------------------------------------------------------------------- */
/*                              SMALL SCREENS                               */
/* ------------------------------------------------------------------------- */

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .dropdown-menu {
        display: block;
    }
}

/* ------------------------------------------------------------------------- */

