/* ------------------------------------------------------------------------- */
/*          CSS STYLE FOR THE HEADER - NAVBAR, ICON, TITLE ETC..             */
/* ------------------------------------------------------------------------- */

.navbar {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    display: flex;
    transition: transform 1s ease;
    z-index: 200;
}

/* ------------------------------------------------------------------------- */
/*                          LOGO aka EIRSPACEEEE                             */
/* ------------------------------------------------------------------------- */

.logo-navbar {
    padding: 15px 0;
    margin-right: 20vw;
    margin-left: 12vw;
    margin-top: 2.4vh;
}

.logo-navbar a {
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.logo-navbar img {
    width: 100%;
    height: auto;
    min-height: 40px;
    min-width: 12vw;
}

/* ------------------------------------------------------------------------- */
/*                          NAVLINKS AND OTHER STUFF                         */
/* ------------------------------------------------------------------------- */

.nav-links {
    align-items: center;
    font-size: 2em;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
    padding: 20px 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* ------------------------------------------------------------------------- */
/*                              DROPDOWN MENU                                */
/* ------------------------------------------------------------------------- */

.dropdown-menu {
    margin-left: auto;
    margin-right: 5vw;
}

.menu-toggle {
    font-size: 4em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1.5vh;
}

/* ------------------------------------------------------------------------- */
/*                          DROP DOWN MENU ANIMATION                         */
/* ------------------------------------------------------------------------- */

.dropdown-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 2em;
    list-style: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-links.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-links li a {
    color: white;
    font-size: 1.5em;
    padding: 0.8em 0;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease;
    animation: dropdownItem 0.8s ease forwards;
}

.dropdown-links li a:hover {
    color: #00FF41;
}

@keyframes dropdownItem {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-links.closing  {
    background: none;
}

.dropdown-links.closing li {
    animation: dropdownItemClose 0.5s ease forwards;
}

@keyframes dropdownItemClose {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* ------------------------------------------------------------------------- */
/*                              SMALL SCREENS                               */
/* ------------------------------------------------------------------------- */

@media (max-width: 2500px) {
    .navbar {
        height: 13vh;
    }

    .logo-navbar {
        margin-right: -140px; /* The picture is too wide. */
    }

    .logo-navbar img {
        width: 60%;
    }

    .nav-links {
        font-size: 20px;
    }

    .dropdown-links li a {
        font-size: 1em;
    }

    .menu-toggle {
        margin-top: 3vh;
        font-size: 3em;
    }
}

@media (max-width: 1400px) {
    .navbar {
        height: 13vh;
    }

    .logo-navbar img {
        width: 60%;
    }

    .dropdown-links li a {
        font-size: 0.8em;
    }

    .menu-toggle {
        margin-top: 2.5vh;
        font-size: 2.4em;
    }
}

@media (max-width: 1200px) {
    .navbar {
        height: 18vh;
        min-height: 110px;
    }

    .logo-navbar img {
        width: 70%;
    }
    
    .menu-toggle {
        font-size: 5em;
        margin-top: 2vh;
    }

    .nav-links {
        display: none;
    }

    .dropdown-menu {
        display: block;
        margin-top: -14px;
        align-items: auto;
    }

    .dropdown-links li a {
        padding: 0.5em 0;
    }
}

@media (max-width: 500px) {
    .logo-navbar img {
        width: 50%;
    }

    .dropdown-links li a {
        font-size: 1em;
    }

    .menu-toggle {
        margin-top: 2.5vh;
    }
}


/* ------------------------------------------------------------------------- */

