/* ------------------------------------------------------------------------- */
/*          Here is the css for the rocket, drone and astro section          */
/* ------------------------------------------------------------------------- */

.minipage-section {
    margin-top: 20vh;
    padding: 2rem;
    background: none;
}

.minipage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.minipage-member {
    background: none;
}

.minipage-member img {
    z-index: 2;
    width: 60%;
    min-width: 400px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.minipage-content {
    text-align: center;
    background: none;
    padding: 0.2em 0.6em;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 1.5em;
    transition: color 0.3s;
}

.minipage-content:hover {
    color: #00FF41;
}

/* ------------------------------------------------------------------------- */
/*                          For the first section.                           */
/* ------------------------------------------------------------------------- */

.minipage-section-zero {
    margin-top: 20vh;
    padding: 2rem;
    background: none;
}

.minipage-grid-zero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.minipage-content-zero {
    text-align: center;
    background: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

/* ------------------------------------------------------------------------- */
/*                              SMALL SCREENS                                */
/* ------------------------------------------------------------------------- */

@media (max-width: 1400px) {
    .minipage-section {
        margin-top: 10vh;
    }

    .minipage-grid {
        grid: none;
    }

    .minipage-member img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .minipage-content {
        font-size: 1.3em;
    }

    .minipage-member img {
        min-width: 280px;
    }
}

@media (max-width: 1250px) {
    .minipage-content {
        font-size: 1.2em;
    }

    .minipage-content-zero {
        font-size: 1em;
        letter-spacing: 0em;
    }
}

@media (max-width: 500px) {
    .minipage-content {
        font-size: 1em;
    }

    .minipage-content-zero {
        font-size: 0.5em;
        letter-spacing: 0em;
    }
}

/* ------------------------------------------------------------------------- */

