/* ------------------------------------------------------------------------- */
/*          FOR THE SECTIONS WHICH ARE A BACKGROUND AND A COMMENTARY         */
/* ------------------------------------------------------------------------- */

.section {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.content {
    border: none;
    background: none;
    padding: 20px;
    z-index: 1;
}

.content a {
    text-align: left;
    color: white;
    font-size: 18px;
}

/* ------------------------------------------------------------------------- */
/*                              INDEX.HTML                                   */
/* ------------------------------------------------------------------------- */

/* logo section. */
#section0 {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

/* team section. */
#section1 {
    background-image: url('../../static/team.jpg');
    height: 140vh;
    width: 100%;
    object-fit: cover;
}

/* rocket section. */
#section2 {
    background-image: url('../../static/rocket.png');
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

/* drone section. */
#section3 {
    background-image: url('../../static/drone.jpg');
    height: 100vh;
    width: 100%;
    object-fit: cover;

}

/* astronomy section. */
#section4 {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ------------------------------------------------------------------------- */

