/* ------------------------------------------------------------------------- */
/*          FOR THE SECTIONS WHICH ARE A BACKGROUND AND A COMMENTARY         */
/* ------------------------------------------------------------------------- */

.section {
    margin-top: 10vh;
    padding: 2rem;
    text-align: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    gap: 40px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.section-member {
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    transition: background-color 0.8s ease;
}

.section-member:hover {
    background-color: #112240;
}

.section-member img {
    z-index: 100;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.section-info {
    background: none;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.section-info h3 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 3em;
    transition: color 0.3s;
}

.section-info h3:hover {
    color: #00FF41;
}

/* ------------------------------------------------------------------------- */
/*              SPECIAL FIRST SECTION, because of flex glitch                */
/* ------------------------------------------------------------------------- */

.section-content {
    left: 6vw;
    position: absolute;
    border: none;
    background: none;
    z-index: 4;
}

.section-content h1 {
    font-size: 2em;
}

/* ------------------------------------------------------------------------- */
/*                              COMING SOON SECTION                          */
/* ------------------------------------------------------------------------- */

.section-zero-coming-soon {
    margin-top: 50vh;
    margin-bottom: 50vh;
}

.section-content-coming-soon {
    text-align: center;
    border: none;
    background: none;
    z-index: 4;
}

.section-content-coming-soon h1 {
    font-size: 4em;
}

/* ------------------------------------------------------------------------- */
/*                              SMALL SCREENS                                */
/* ------------------------------------------------------------------------- */

@media (max-width: 1200px) {
    .section-grid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

    .section-info h3 {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    .section {
        margin-top: 22vh;
    }

    .section-grid {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section-member {
        margin-bottom: 30px;
    }

    .section-member img {
        max-width: 400px;
    }

    .section-info h3 {
        font-size: 1.5em;
    }

    .section-content-coming-soon h1 {
        font-size: 2em;
    }

    .section-content h1 {
        font-size: 1.2em;
    }
}

/* ------------------------------------------------------------------------- */

