/* ------------------------------------------------------------------------- */
/*          MAIN CSS FILE - FONT, SIZE, BODY, PARTICULAR STYLE ETC..         */
/* ------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scrollbar-width: none; /* Hide scrollbar. */
}

body {
    color: #00FF41;
    font-family: 'VT323', monospace; /* retro */
    /* font-family: 'Courier New', Courier, monospace; /* alien */
    background-color: black; /* background-color: #0A1A2F; */
}

a {
    text-decoration: none;
    background: none;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    background: none;
}

li {
    border: none;
    background: none;
    z-index: 1;
}

.image-container {
    z-index: 1;
    background: none;
    max-width: 1000px;
    max-height: 1000px;
}

/* ------------------------------------------------------------------------- */
/*                                  STARS                                    */
/* ------------------------------------------------------------------------- */

.star-field {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100%;
}

.star {
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0;
}

.twinkling {
    animation: twinkling 4s infinite alternate, fade-in 2s ease-in;
}

@keyframes twinkling {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* ------------------------------------------------------------------------- */
/*                              SHOOTING STAR                                */
/* ------------------------------------------------------------------------- */

.shooting-star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.shooting-star {
    z-index: -10;
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    opacity: 1;
    animation: shooting-star 1s linear forwards;
}

@keyframes shooting-star {
    0% {
        z-index: -1;
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        z-index: -1;
        transform: translate(50vw, 50vh) scale(2);
        opacity: 0;
    }
}

/* ------------------------------------------------------------------------- */

