/* ------------------------------------------------------------------------- */
/*                              FOR THE TEAM PAGE                            */
/* ------------------------------------------------------------------------- */

.team-section {
    margin-top: 35vh;
    padding: 2rem;
    text-align: center;
    background: none;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    gap: 20px;
    justify-items: center;
}

.team-member {
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    z-index: 2;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.member-info {
    background: none;
}

.member-info h3 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 3em;
    transition: color 0.3s;
}

.member-info h3:hover {
    color: #00FF41;
}

.member-info h2 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 2.5em;
    transition: color 0.3s;
}

.member-info h2:hover {
    color: #00FF41;
}

.member-info p {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 1.5em;
}

.member-info p:hover {
    color: #00FF41;
}

/* ------------------------------------------------------------------------- */
/*                              SPECIAL FOR JUJU                             */
/* ------------------------------------------------------------------------- */

.team-member-juju {
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 0;
    transition: all 5s ease 0S;
}

.team-member-juju:hover {
    opacity: 1;
}

.team-member-juju img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.member-info-juju {
    background: none;
}

.member-info-juju h3 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 3em;
    transition: color 0.3s;
}

.member-info-juju h3:hover {
    color: #00FF41;
}

.member-info-juju h2 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 2.5em;
    transition: color 0.3s;
}

.member-info-juju h2:hover {
    color: #00FF41;
}

.member-info-juju p {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 1.5em;
}

.member-info-juju p:hover {
    color: #00FF41;
}

/* ------------------------------------------------------------------------- */
/*                              SMALL SCREENS                                */
/* ------------------------------------------------------------------------- */

@media (max-width: 1200px) {
    .team-grid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

@media (max-width: 500px) {
    .team-grid {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .team-member {
        margin-bottom: 10px;
    }

    .team-member img {
        max-width: 400px;
    }

    .team-member-juju img {
        max-width: 400px;
    }
}

/* ------------------------------------------------------------------------- */

