<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./team.html">Team</a></li>
            <li><a href="./rocket.html">Rocket</a></li>
            <li><a href="./drone.html">Drone</a></li>
            <li><a href="./astronomy.html">Astronomy</a></li>
            <li><a href="./partnership.html">Partnership</a></li>
        </ul>

        <div class="footer-logo-center">
            <a href="./index.html">
                <img loading="lazy" src="./static/logo/logo_eirspace_2425.webp" alt="Eirspace Logo">
            </a>
        </div>

        <ul class="social-links">
            <li>
                <a href="https://www.instagram.com/eirspace_" target="_blank" aria-label="Instagram">
                    <img loading="lazy" src="./static/social/instagram.svg" alt="Instagram Logo">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/eirspace" target="_blank" aria-label="LinkedIn">
                    <img loading="lazy" src="./static/social/linkedin.svg" alt="LinkedIn Logo">
                </a>
            </li>
            <li>
                <a href="https://t.me/Eirspace_EMMK" target="_blank" aria-label="Telegram">
                    <img loading="lazy" src="./static/social/telegram.svg" alt="Telegram Logo">
                </a>
            </li>
            <li>
                <a href="https://github.com/EIRSPACE-2024" target="_blank" aria-label="Github">
                    <img loading="lazy" src="./static/social/github.svg" alt="Github Logo">
                </a>
            </li>
            <li>
                <a href="https://enseirb-matmeca.bordeaux-inp.fr/fr" target="_blank" aria-label="Enseirb">
                    <img loading="lazy" src="./static/social/enseirb.svg" alt="Enseirb Logo">
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright">
        &copy; 2024 Eirspace. All rights reserved.
    </div>
</footer>
