<nav class="navbar" id="navbar" role="navigation" aria-label="Main navigation">
    <div class="logo-navbar"><a href="./index.html"><img loading="lazy" src="static/fonts/eirspace_navbar_logo.png" alt="Eirspace"></a></div>
    <ul class="nav-links">
        <li><a href="./team.html">TEAM</a></li>
        <li><a href="./rocket.html">ROCKET</a></li>
        <li><a href="./drone.html">DRONE</a></li>
        <li><a href="./astronomy.html">ASTRONOMY</a></li>
        <li><a href="./partnership.html">PARTNERSHIP</a></li>
    </ul>

    <div class="dropdown-menu">
    <button class="menu-toggle" onclick="toggleMenu()" aria-label="Open menu" aria-expanded="false" aria-controls="dropdown-links">☰</button>
    <ul class="dropdown-links" id="dropdown-links">
        <li><a href="./team.html">TEAM</a></li>
        <li><a href="./rocket.html">ROCKET</a></li>
        <li><a href="./drone.html">DRONE</a></li>
        <li><a href="./astronomy.html">ASTRONOMY</a></li>
        <li><a href="./partnership.html">PARTNERSHIP</a></li>
        <li><a target="_blank" href="https://t.me/Eirspace_EMMK">TELEGRAM</a></li>
        <li><a target="_blank" href="https://www.instagram.com/eirspace_">INSTAGRAM</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company/eirspace">LINKEDIN</a></li>
        <li><a href="./video.html">VIDEO</a></li>
        <li><a href="./projects.html">PROJECTS</a></li>
    </ul>
    </div>
</nav>
